<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Kellton_Ordercancel::Kellton_Ordercancel" title="Cancel Orders" translate="title" module="Kellton_Ordercancel" sortOrder="11" parent="Magento_Sales::sales_operation" action="sale/cancelorder" resource="Kellton_Ordercancel::Kellton_Ordercancel"/>
    </menu>
</config>
