objects/pack/pack-e988a26fafb251c8c76e941ecb38858804358c18.pack
dev/
bin/
*.sql
*.zip
*.swp
*_bkp
*.pem
*.crt
lib/
stats/
*.csv
*.txt
sqlbackup/
tvt/
*.pdf
awstats-icon
awstatsicons

sitemap.xml

.gitattributes
app/etc/config.php
app/etc/env.php
package.json
.php_cs
.php_cs.cache
grunt-config.json

pub/media/*
pub/static/*

var/*
vendor/*
generated/*
.DS_Store
setup
phpserver
