<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <externallink>
            <general>
                <enable>1</enable>
                <title>Payment Gateways for Externallink</title>
            </general>
        </externallink>
    </default>
</config>