<?xml version="1.0" ?>
<!--
/**
 * Dotzot Shipping
 *
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Dotzotfront_ShippingTracking" setup_version="1.0.1">
        <sequence>
            <module name="Dotzotfront_Base" />
        </sequence>
    </module>
    <module name="Dotzotfront_ShippingTracking" setup_version="1.0.1">
            <sequence>
                <module name="Magento_Sales"/>
            </sequence>
        </module>
</config>
