<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Magento\Quote\Model\Quote\Address\Total\Subtotal" type="Kellton\Fixcart\Model\Magento\Quote\Quote\Address\Total\Subtotal" />
		
</config>
