<?xml version="1.0" ?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="prshippingtracking" translate="label" type="text" sortOrder="8980849" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Dotzot Credentials</label>
            <tab>dotzotfront</tab>
            <resource>Dotzotfront_ShippingTracking::configuration</resource>

            <!-- Begin of GENERAL group  -->
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <attribute type="expanded">1</attribute>
                
                <field id="enabled" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Extension</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <!-- End GENERAL -->

            <!-- Begin of services group  -->
            <group id="services" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Shipping Services</label>
                <attribute type="expanded">1</attribute>

                <!-- Begin of UPS Tracking API group  -->
             <group id="shippingmodule" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Dotzot Setting</label>
               
                <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="name" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Method Name</label>
                </field>
                
                <field id="customer_id" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Dotzot Customer Id</label>
                </field>
                
                <field id="dotzotlive_username" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Dotzot Live Api Username</label>
                </field>
                
                <field id="dotzotlive_password" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Dotzot Live Api Password</label>
                </field>
                
                <field id="demo_enable_mode" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Demo Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
               
                
                <field id="dotzotdemo_username" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Dotzot Demo Api Username</label>
                </field>
                
                <field id="dotzotdemo_password" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Dotzot Demo Api Password</label>
                </field>
  
                <!--<field id="specificerrmsg" translate="label" type="textarea" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Displayed Error Message</label>
                </field>-->
                <field id="sallowspecific" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to Applicable Countries</label>
                    <frontend_class>shipping-applicable-country</frontend_class>
                    <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="91" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="showmethod" translate="label" type="select" sortOrder="92" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Method if Not Applicable</label>
                    <frontend_class>shipping-skip-hide</frontend_class>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sort Order</label>
                </field>
            </group>
                <!-- End UPS Tracking API -->

            </group>
            <!-- End services -->

        </section>
    </system>
</config>