<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

   <event name="checkout_onepage_controller_success_action">
       <observer name="kellton_smsbulk_observer_msgwhenorderplacedobserver" instance="Kellton\Smsbulk\Observer\Msgwhenorderplacedobserver" />
   </event>

   <event name="customer_login">
       <observer name="kellton_smsbulk_observer_msgwhencustomerloginobserver" instance="Kellton\Smsbulk\Observer\Msgwhencustomerloginobserver" />
   </event>

</config>