<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label">
        <span data-bind="text: getTitle()"></span>
<!--            <img class="payment-icon" src="https://pgi.billdesk.com/images/billdesk-logo.png" width="auto" height="30px"> -->
<!--        <img src="<?php echo $this->getViewFileUrl('Indiaideas_Billdesk::img/ BD-Logo-Black.png'); ?>'" alt="Billdesk" />-->
        </label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <form method="post" class="post_form" id="post_form" action="" hidden>
                    <input type="hidden" name="msg" class="post_params" id="post_params">
                </form>
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('proceed to payment')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>

                    <span data-bind="i18n: 'proceed to payment'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
