/**
 */

.admin__menu #menu-dotzotfront-base-elements > a:before  {
    opacity: 0.65;
    content: '';
    font-size: 2.4rem;
    display: block;
    position: relative;
    top: -0.3rem;
    width: 28px;
    height: 23px;
    background: url(../images/plumlogo.svg);
    background-size: 28px 23px;
    margin: 0 auto;
}

.admin__menu #menu-dotzotfront-base-elements:hover > a:before {opacity: 1;}

.admin__menu #menu-dotzotfront-base-elements>.submenu>ul>.level-1:only-of-type>.submenu-group-title {
    display: block;
}