
.payment-logo {
    display: inline-block;
    margin: 0 20px 0 0;
    width: 249px;
    height: 60px;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-image: url(billdesk-logo.png);
}
