.mobilelogin-popup {
    margin: 0 auto;
    width: 500px;
}
#checkoutlogin{
    float: right;
}
.modals-wrapper .modal-popup.mobilelogin-popup .modal-inner-wrap {
    width: 360px;
    left: 0;
    margin: 0 auto;
    margin-top: 10%;
}
.modal-popup.mobilelogin-popup .modal-header {
    text-align: center;
}

.modal-popup.mobilelogin-popup .modal-header h1 {
    font-weight: bold;
}

.modal-popup.mobilelogin-popup .mobilelogin-error {
    color: red;
    margin-top: 6px;
    float: left;
}

.modal-popup.mobilelogin-popup .mobilelogin-success {
    float: left;
    width: 100%;
    color: green;
}

.modals-wrapper .modal-popup.mobilelogin-popup .modal-inner-wrap .modal-footer .action.primary {
    text-transform: uppercase;
}

.modal-popup.mobilelogin-popup .mobilebutton {
    text-transform: uppercase;
}

.updatemobile input[type="text"] {
    float: left;
    margin-right: 15px;
    width: 200px;
}

@media screen and (max-width: 768px) {
    .modals-wrapper .modal-popup.mobilelogin-popup {
        margin-top: 15%;
        left: 0;
        width: 360px;
    }

    .modals-wrapper .modal-popup.mobilelogin-popup .modal-inner-wrap .modal-header h1 {
        font-size: 24px;
    }

    .modals-wrapper .modal-popup.mobilelogin-popup .modal-inner-wrap {
        min-height: auto;
    }

    .modals-wrapper .modal-popup.mobilelogin-popup .modal-inner-wrap .modal-footer {
        text-align: right;
        padding-top: 0px;
    }
}

@media screen and (max-width: 440px) {
    .updatemobile input[type="button"] {
        margin-top: 15px;
    }
}

@media screen and (max-width: 360px) {
    .modals-wrapper .modal-popup.mobilelogin-popup {
        width: 310px;
    }

    .modals-wrapper .modal-popup.mobilelogin-popup .modal-inner-wrap .modal-footer .action.primary {
        font-size: 11px;
        padding: 5px 10px;
    }
}

