<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

   <event name="sales_order_shipment_save_after">
       <observer name="kellton_shipmentorderstatus_observer_salesordershipmentorderstatusobserver" instance="Kellton\ShipmentOrderStatus\Observer\Salesordershipmentorderstatusobserver" />
   </event>

</config>